*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background:linear-gradient(to right , rgb(214, 214, 214) , rgb(214, 214, 214));
   }
/* -------------navbar start ----------------*/
.navbar button{
    size: 0.5rem;
    border-radius: 5rem;
    font-size: 1rem;
    
}
.navbar-brand img{
    width: 3rem;
    margin-left: 2rem;
}
.heading h1{
    font-weight: bold;
    color:  rgba(41, 41, 41, 0.795);
    letter-spacing: 0.2rem;
    border-left: 0.5rem solid rgb(35, 161, 145);
    padding-left: 1rem;
}



/* ---------------- main start----------------- */
.main-div{
    height: 90vh;
}
.box{
    background:linear-gradient(to right , rgb(214, 214, 214) , rgb(214, 214, 214));
    border-radius: 1.2rem;
    box-shadow: 1.3rem 1.3rem 2rem rgb(172, 172, 172), -1.3rem -1.3rem 2rem white; 
}
.box p{
    font-weight: bold;
    color:  rgba(41, 41, 41, 0.795);
    font-size: 2rem;
    letter-spacing: 0.2rem;
}
.botam{
    display: flex;
    justify-content: center;
}

.botam button{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(35, 161, 145);
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    background:linear-gradient(to right , rgb(214, 214, 214) , rgb(214, 214, 214));
    margin:2rem;
    min-width:17rem;
    
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    box-shadow: -0.7rem -0.7rem 2rem 0rem rgba(255, 255, 255, 0.7),0.7rem 0.7rem 2rem 0rem rgba(0, 0,0, 0.2)  ;  
}
.botam button:hover{
    box-shadow: inset -0.7rem -0.7rem 2rem 0rem rgba(255, 255, 255, 0.7), inset 0.7rem 0.7rem 2rem 0rem rgba(0, 0,0, 0.2) ;
}
/* ----------- social start ------------*/

.social_icon{
    display: flex;
    justify-content: center;
}
.social_icon a{
    margin: 3rem 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    background-color: rgb(214, 214, 214);
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0.5rem 0.5rem 2rem 0rem rgba(0, 0,0, 0.2) , -0.5rem -0.5rem 2rem 0rem rgba(255, 255, 255) ;
    transition: 0.5s;

}
.social_icon a:hover{
    box-shadow: inset -0.4rem -0.4rem 2rem 0rem rgba(255, 255, 255, 0.7), inset 0.4rem 0.4rem 2rem 0rem rgba(0, 0,0, 0.2)  ;
    transform: translateY(-0.2rem);
}
.social_icon a i{
    font-size: 2rem;
    color: rgb(41, 41, 41);
}

.fa-facebook:hover{
    color: rgb(18, 81, 133);
}
.fa-instagram:hover{
    color: rgb(205, 19, 230);
}
.fa-linkedin-in:hover{
    color: rgb(0, 78, 141);
}
.fa-twitter:hover{
    color: rgb(67, 186, 241);
}
.fa-snapchat:hover{
    color: rgb(190, 187, 3);
}




/*-------------------- footer start------------------- */


#footer{ 
    background:rgba(41, 41, 41, 0.795);
    color: rgb(214, 214, 214)s
}
#footer img{
    width: 100%;
    
}
.mail{
    width: 5rem;
}
.footer_btn{
    
}

.copyright p{
    margin-bottom: 0;

}
#footer .container{
    color: white;
}

/* /*--------------- footer end-------------- */




@media(max-width:764px){
    .botam{
        display: flex;
        flex-direction: column;
      
    }
    .botam a{
        display: flex;
        justify-content: center;
        overflow: hidden;
        text-decoration: none;

    }
    
    .botam button{
        font-size: 1.5rem;
        margin:2rem 5rem;
        min-width:20rem;
        padding: 0.7rem 1rem;      
    }
    .box{
       margin: 0rem 1rem; 
    }
    

  
}



